* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Layout */
body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 3fr 1fr;
    height: 100vh;
    gap: 0;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: rgb(231, 197, 202);
    /*this will align the header with the nav bar*/
    padding: 0;
    grid-column: 1 / 3;
    text-align: left;
    display: flex;
    flex-direction: column;
    /*this aligns the nav bar with the bottom of the header box*/
    justify-content: flex-end;
    height: 12rem;
}


/* Navigation */
nav {
    background-color: black;
    grid-column: 1 / 3;
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: auto;
}

/* Navigation List */
.navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

/* Navigation Links */
.navigation li a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
}

.navigation li a:hover {
    text-decoration: underline;
}

/* Main Section */
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 0;
    padding: 0;
    grid-row: 3;
    grid-column: 1 / 3;
    background-color: transparent;
}

/* Main Content */
.main-content {
    background-color: lightblue;
    padding: 1rem;
    grid-column: 1 / 2;
}

/* Aside Content */
.aside-content {
    background-color: teal;
    padding: 1rem;
    grid-column: 2 / 3;
}

/* Footer */
footer {
    background-color: wheat;
    padding: 6%;
    grid-column: 1 / 3;
    grid-row: 4;
    text-align: center;
}