/* Global reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #b9b6b6;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}


.wf1 {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
}

.wf1 fieldset {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.wf1 legend {
    color: rgb(154, 16, 16);
    font-weight: bold;
}

.wf1 label {
    display: block;
    font-weight: bold;
    color: rgb(154, 16, 16);
    margin-bottom: 5px;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 input[type="date"],
.wf1 select,
.wf1 input[type="number"],
.wf1 textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 6px;
    background-color: #eee;
    color: #555;
}

.wf1 input:required,
.wf1 select:required {
    border-top: solid 5px red;
}

.wf1 input:required:valid,
.wf1 select:required:valid {
    border-top: solid 5px green;
}

.star-rating {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.star-rating label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.star-rating input[type="radio"] {
    margin-top: 8px;
}

.star-rating span {
    font-size: 1.5rem;
    color: black;
    display: block;
}

.star-rating input {
    margin-top: 5px;
    margin: 0 auto;
}

.star-rating label:has(input[type="radio"]:checked) span {
    color: darkgoldenrod;
    ;
}

.check-all-label {
    font-size: 0.9rem;
    font-style: italic;
    color: #074128 !important;
}

.wf1 input[type="checkbox"] {
    margin-right: 8px;
}

label input[type="checkbox"]+span {
    color: blue;
}

textarea {
    width: 100%;
    min-height: 100px;
    resize: vertical;
}

.wf1 input[type="submit"] {
    width: 100%;
    max-width: 400px;
    background-color: #6f200e;
    color: white;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: 20px auto;

}

.wf1 input[type="submit"]:hover {
    background-color: #922b17;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.back-button {
    display: block;
    text-align: center;
    background-color: #6f200e;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.back-button:hover {
    background-color: #922b17;
}