@media screen and (min-width: 741px) {
    header {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .navigation {
        display: flex;        
    }

    .navigation li {
        display: block;
        flex: 1 1 100%
    }

    .navigation a {
        text-align: center;
        border-radius: 5px;
    }

    #menu {
        display: none;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;        
    }
}