/* Body */
body {
    font-family: 'Roboto', sans-serif, arial;    
}

/* Header */
header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #e6f2ff;
}

/* Main*/
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;    
}

section {  
    padding: 1rem;
    background-color: #fff;
}

section h2 {
    text-align: left;
    font-size: 1.5rem;
    color: navy
}

@media screen and (min-width: 500px) {
    header {
        text-align: center;
        background-color: #000;
        color: #fff;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
}